<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <hr>
      <h1 class="page-header">My Notepads
      </h1>
    </div>
  </div>

  <% flash.each do |key, value| %>
  <%= content_tag :div, value, class: key %>
  <% end %>

  <h2><%= link_to "Create new notepad", new_notepad_path, :class => 'btn btn-primary' %></h2>

  <div>
    <% @notepad.each do |notepad| %>
    <h2><%= link_to notepad.title, notepad_path(notepad) %></h2>
    <% end %>
  </div>
</div>
