<h1>My Notepads</h1>

<h2><%= link_to "Create new notepad", new_notepad_path, :class => 'btb btn-default' %></h2>

<div>
  <% @notepad.each do |notepad| %>
    <h2><%= link_to notepad.title, notepad_path(notepad) %></h2>
  <% end %>
</div>
